/* Адаптация под мобильное устройство */

@media all and (max-width: 768px) {
    .header {
        width: 100%;
        display: block;
        grid-template-columns: none;
    }

    .header .maps {
        display: none;
    }

    .header .icon-and-name {
        width: 100%;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .header .icon-and-name .name-atlas {
        display: grid;
        font-size: 20px;
        justify-items: center;
        padding-top: 15px;
    }

    .header .icon-and-name .icon img {
        margin-top: 5px;
        width: 50px;
        height: auto;
        border-radius: 90%;
    }

    .main-part {
        height: auto;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 500px auto;
        justify-items: center;
        padding: 10px;
        margin-top: 100px;
    }

    .main-part .container-map {
        height: 60vh;
        width: 100%;
        display: grid;
        grid-template-rows: 40px auto;
        justify-items: center;
    }

    .main-part .container-map .name-map {
        font-size: 14px;
    }

    .main-part .container-map .map .legend {
        font-size: 14px;
        line-height: 12px;
        width: 80%;
    }

    .main-part .information {
        height: auto;
        display: grid;
        margin-top: none;
        grid-template-rows: 200px auto;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        width: 100%;
        margin-bottom: 100px;
    }

    .tabbar {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        height: 10%;
        width: 100%;
        background-color: aliceblue;
        box-shadow: 0 -1px 10px;
    }

    .tabbar .nav-buttons {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        padding: 10px;
        margin: auto 0;
    }

    .tabbar .nav-buttons .nav-button .nav-link {
        display: grid;
        justify-items: center;
        text-decoration: none;
        color: black;
        background-color: rgba(0, 0, 0, 0.0);
        border-style: none;
    }

    .tabbar .nav-buttons .nav-button .nav-link:active {
        text-decoration: none;
    }

    .tabbar .nav-buttons .nav-button .nav-link img {
        width: 25px;
    }

    .tabbar .nav-buttons .nav-button #tabbar-button-right img {
        transform: rotate(180deg);
    }

    .menu .menu-buttons {
        display: grid;
        width: 90%;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .menu .menu-buttons .top-side-buttons {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(5, 1fr);
        justify-content: space-between;
        gap: 10px;
        width: 100%;
    }

    .menu .menu-buttons .bottom-side-buttons {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(5, 1fr);
        justify-content: space-between;
        gap: 10px;
        width: 100%;
    }

    .menu .menu-buttons button {
        background-color: aliceblue;
        padding: 0;
        border-radius: 10px;
        border-style: none;
        height: 100px;
    }

    .menu .menu-buttons .menu-button11 {
        width: 100%;
        margin: 0 50%;
    }
}
